
<header>
  <h2>Movie Database</h2>
</header>
<div class="containerDiv">
  <form action="search_result">
    <label for="movie">Search a movie</label>
    <input id="movie" name="movie">
    <button>submit</button>
  </form>
</div>
