
<header>
  <h2><%= "#{@result["Search"].count} movies found:" %></h2>
</header>
<div class="containerDiv">
  <ul>
    <% @result["Search"].each do |movie| %>
    <li><a href='/movies/<%=movie["imdbID"] %>'><%=movie["Title"]%></a></li>
    <% end %>
  </ul>

</div>
