<h1>Secret number</h1>
<% @numbers.each do |number| %>
<form action="/games/secret_number/response" method="get">
  <input type="hidden" name="right_number" value="<%= @numbers.sample %>">
  <input type="hidden" name="number" value="<%= number %>">
  <button><%= number %></button>
</form>
<%end%>
